@import '_variables.scss';
@import '_mixin.scss';

.about {
    padding: 30px 0 70px 0;
    background-color: $mainDarkColor;

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 30px;  
    }

    &__article {
        align-self: center;
        margin: 0;
        padding: 0;
        color: $mainLightColor;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }

    &__subscription {
        align-self: center;
    }

    &__img {
        margin-bottom: 25px;
    }

    &__header {
        @include headerReset;

        color: $mainLightColor;
        font-size: 24px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    &__email {
        padding: 9px 23px;
        border: solid 1px $backgroundField;
        width: 74%;
        margin-right: 27px;
        color: $lightGreyColor;
        background: $backgroundField;
        outline: none;
    }

    &__email:focus-visible {
        border-color: $secondColor;
    }

    &__email::placeholder {
        color: $lightGreyColor;
        transition: color .4s ease;
    }

    &__email:hover:not(:focus-visible)::placeholder {
        color: $secondColor;
    }

    &__email:active:not(:focus-visible)::placeholder {
        color: $mainLightColor;
    }

}

// Adaptation for tablet screen

@media (max-width: 1352px) {

.about {

    &__email {
        margin-bottom: 20px;
    }
}

}

// Adaptation for small phone

@media (max-width: 765px) {

	.about {
		
        &__grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            gap: 18px;
        }

        &__email {
            width: 100%;
        }

	}
}
