@import '_variables.scss';
@import '_mixin.scss';

.classes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;

    &__author {
        font-size: 16px;
        font-weight: 400;
        color: $mainLightColor;
    }

    &__title {
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 19px;
        color: $mainLightColor;
    }

    &__header {

        @include headerReset;
        margin-bottom: 18px;
        line-height: 104%;
    }

}

.class-promo {
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    background-image: url('../img/class_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 405px 145px 60px 60px;
}

.previuos-work {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    font-size: 24px;
    font-weight: 800;
}

.work-1 {
    grid-column: 3 / 8;
    grid-row: 2 / 3;
}

// Adaptation for tablet screen

@media (max-width: 1352px) {

    .class-promo {
        padding: 425px 30px 30px 30px;
        background-image: url('../img/class_1-1024.png');
	}

}

// Adapatation for modern phone

@media (max-width: 1000px) {

    .class-promo {
        padding: 223px 30px 30px 30px;
        background-image: url('../img/class_1-768.png');
    }

}

// Adaptation for small phone

@media (max-width: 765px) {

    .classes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 30px;
        grid-template-areas: 
        "promo promo"
        "bigimg bigimg"
        "img3 img4";
    }
    
    .class-promo {
        padding: 234px 30px 30px 30px;
        background-image: url('../img/class_1-320.png');
        grid-area: promo;
	}

    .previuos-work {
        grid-area: bigimg;
    }

    .work-2 {
        grid-area: img3;
    }

    .work-3 {
        grid-area: img4;
    }

}
