@import '_common.scss';
@import '_variables.scss';
@import '_mixin.scss';

.classes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    margin-bottom: 68px;

    &__caption {
        display: block;
        margin-bottom: 18px;
    }

    &__tag {
        position: absolute;
        padding: 7px 15px;
        right: 15px;
        top: 15px;
        background: $backgroundColor;
    }

    &__promo {
        margin: 405px 145px 60px 60px;
        color: $fontColor;
    }

    &__author {
        font-size: 16px;
        font-weight: 400;
    }

    &__title {
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 19px;
    }

}

.class-promo {
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    background-image: url('../img/class_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.previuos-work {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    font-size: 24px;
    font-weight: 800;
}

.work-1 {
    grid-column: 3 / 8;
    grid-row: 2 / 3;
}

.tag-text {
    color: $fontColor;
    font-size: 14px;
    font-weight: 400;
}

.work-2 {
    background-image: url('../img/class_3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.work-3 {
    background-image: url('../img/class_4.png');
    background-repeat: no-repeat;
    background-size: cover;
}