@import '_variables.scss';
@import '_mixin.scss';

.classes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;

    &__promo {
        margin: 405px 145px 60px 60px;
    }

    &__author {
        font-size: 16px;
        font-weight: 400;
        color: $mainLightColor;
    }

    &__title {
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 19px;
        color: $mainLightColor;
    }

    &__header {

        @include headerReset;
        margin-bottom: 18px;
        line-height: 104%;
    }

}

.class-promo {
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    background-image: url('../img/class_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.previuos-work {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    font-size: 24px;
    font-weight: 800;
}

.work-1 {
    grid-column: 3 / 8;
    grid-row: 2 / 3;
}

@media (max-width: 1352px) {

	.classes {

        &__promo {
            margin: 425px 30px 30px 30px;
        }
    }

    .class-promo {
        background-image: url('../img/class_1-1024.png');
	}

}
