@import '_variables.scss';

.footer {
    background-color: $mainDarkColor;
    padding: 25px 0;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 177px;
        align-items: center;
    }

    &__copyright {
        color: $lightGreyColor;
        font-size: 14px;
        font-weight: 400;
    }

    &__logoImg {
        max-width: 190px;
    }

    &__quote {
        color: $lightGreyColor;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    &__interesting {
        color: $lightGreyColor;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 8px;
    }

    &__icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    &__icon:hover:not(:focus-visible) > use.icon {
        fill: $hoverColor;
    }

    &__icon:active:not(:focus-visible) > use.icon {
        fill: $activeColor;
    }

    &__icon:focus-visible > use.icon {
        fill: $focusColor;
    }

    &__social {
        align-self: center;
    }

    &__icons {
        display: grid;
        grid-template-columns: 30px 30px;
        grid-template-rows: 30px;
        gap: 20px;
    }

    &__bottom {
        display: none;
        background-color: $backgroundField;
        padding-top: 14px;
        padding-bottom: 14px;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;
    }

    &__logoimg {
        justify-self: center;
    }

    &__copyrightbottom {
        color: $lightGreyColor;
        font-size: 10px;
        font-weight: 400;
    }

}

.socialWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

use.icon {
    fill: $lightGreyColor;
    transition: fill .4s ease;
}

// Adaptation for tablet screen

@media (max-width: 1352px) {
    .footer {

        &__grid {
            gap: 69px;
        }

        &__logo {
            margin-right: 40px;
        }

    }
}

// Adapatation for modern phone

@media (max-width: 1000px) {

    .footer {

        &__grid {
            grid-template-columns: repeat(2, auto);
        }
        
        &__quote {
            display: none;
        }
        
        &__social {
            justify-self: end;
        }
    }

}

// Adaptation for small phone

@media (max-width: 765px) {

	.footer {

        padding: 0;
		
        &__grid {
            grid-template-columns: auto;
            padding-top: 31px;
            padding-bottom: 32px;
        }

        &__logo {
            display: none;
        }

        &__social {
            justify-self: center;
        }

        &__bottom {
            display: grid;
        }

	}
}
