@mixin clearListStyle {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin btnReset {
    margin: 0;
    padding: 0;
    border: none;
}

@mixin headerReset {
    margin: 0;
    padding: 0;
}